.container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.page {
  margin-left: 5%;
  flex-basis: 100%;
  transition: margin-left 1s;
}

.page-with-navbar {
  margin-left: 15%;
}

@media only screen and (max-width: 768px) {
  .page {
    width: 95%;
  }
  .page-with-navbar {
    width: 78%;
    margin-left:20%;
  }
}
